<link rel="stylesheet" href="/css/profile.css" />
<!-- Trong file profile.ejs -->
<div class="profile-container">
  <% if (messages.length) { %>
  <div class="alert alert-danger"><%= messages %></div>
  <% } %> <% if (success.length) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>

  <h2 class="text-center mb-4">Your Profile</h2>

  <!-- Hiển thị Avatar người dùng -->
  <div class="text-center position-relative">
    <img
      src="<%= user.avatar || '/img/undraw_profile.svg' %>"
      alt="Avatar"
      class="rounded-circle"
      width="150"
      height="150"
      id="avatarImage"
    />

    <form
      action="/profile/update-avatar"
      method="POST"
      enctype="multipart/form-data"
    >
      <label for="avatarInput" class="btn-change-avatar">
        <i class="fas fa-camera"></i> Change Avatar
      </label>
      <input
        type="file"
        name="avatarInput"
        id="avatarInput"
        accept="image/*"
        style="display: none"
        onchange="previewAvatar(event)"
      />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <!-- Hiển thị tên người dùng -->
  <div class="profile-info mt-4">
    <div
      class="card"
      style="
        border: 1px solid rgba(0, 0, 0, 0.01);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h4>Thông tin cơ bản</h4>

      <form action="/update-profile" method="POST">
        <p>
          <strong>Name:</strong>
          <input
            type="text"
            name="name"
            class="form-control"
            value="<%= user.name %>"
          />
        </p>
        <p>
          <strong>Email:</strong>
          <input
            type="email"
            name="email"
            class="form-control"
            value="<%= user.email %>"
          />
        </p>

        <!-- Nút submit với lớp button đẹp hơn -->
        <div style="text-align: center; margin-top: 20px">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding: 10px 20px; font-size: 16px; border-radius: 5px"
          >
            Update Information
          </button>
        </div>
      </form>
    </div>

    <form action="/unlink/facebook" method="POST">
      <p>
        <strong>Facebook:</strong>
        <% if (user.UserSocials.some(social => social.dataValues.provider ===
        'facebook')) { %> Đã liên kết
        <a href="#" class="btn btn-success btn-circle">
          <i class="fas fa-check"></i>
        </a>
        <!-- Nút hủy liên kết -->
        <button type="submit" class="btn btn-danger float-right">
          <i class="fas fa-times"></i> Hủy liên kết
        </button>
        <% } else { %> Chưa liên kết <% } %>
      </p>
    </form>
    <form action="/unlink/google" method="POST">
      <p>
        <strong>Google:</strong>
        <% if (user.UserSocials.some(social => social.dataValues.provider ===
        'google')) { %> Đã liên kết
        <a href="#" class="btn btn-success btn-circle">
          <i class="fas fa-check"></i>
        </a>
        <!-- Nút hủy liên kết -->
        <button type="submit" class="btn btn-danger float-right">
          <i class="fas fa-times"></i> Hủy liên kết
        </button>
        <% } else { %> Chưa liên kết <% } %>
      </p>
    </form>
  </div>

  <!-- Các nút liên kết với Facebook và Google -->
  <div class="social-links mt-4 text-center">
    <a
      href="/auth/facebook/redirect?mode=link"
      class="btn btn-primary btn-user btn-block"
    >
      <i class="fab fa-facebook-f"></i> Link with Facebook
    </a>
    <a
      href="/auth/google/redirect?mode=link"
      class="btn btn-danger btn-user btn-block"
    >
      <i class="fab fa-google"></i> Link with Google
    </a>
  </div>

  <!-- Thay đổi mật khẩu -->
  <div class="change-password mt-4">
    <h4>Change Password</h4>
    <form action="/change-password" method="POST">
      <div class="form-group">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Current Password"
          required
        />
        <i
          id="toggleCurrentPassword"
          class="fas fa-eye"
          onclick="togglePasswordVisibility('password', 'toggleCurrentPassword')"
        ></i>
      </div>

      <div class="form-group">
        <input
          type="password"
          name="newPassword"
          id="newPassword"
          class="form-control"
          placeholder="New Password"
          required
        />
        <span
          id="newPasswordStatus"
          style="color: green; font-size: 16px; display: none"
        >
          ✔ Mật khẩu khớp nhau
        </span>
        <i
          id="toggleNewPassword"
          class="fas fa-eye"
          onclick="togglePasswordVisibility('newPassword', 'toggleNewPassword')"
        ></i>
      </div>

      <div class="form-group">
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm New Password"
          required
        />
        <span
          id="confirmPasswordStatus"
          style="color: green; font-size: 16px; display: none"
        >
          ✔ Mật khẩu khớp nhau
        </span>
        <i
          id="toggleConfirmPassword"
          class="fas fa-eye"
          onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')"
        ></i>
      </div>

      <button type="submit" class="btn btn-warning btn-user btn-block">
        Change Password
      </button>
    </form>
  </div>
</div>

<style>
  /* Thay đổi kích thước của label */
  .btn-change-avatar {
    font-size: 18px; /* Điều chỉnh kích thước chữ của nút */
    padding: 8px; /* Điều chỉnh khoảng cách bên trong của nút */
    background-color: rgba(0, 0, 0, 0); /* Thêm màu nền cho nút */
    color: #000000; /* Đặt màu chữ của nút */
    border-radius: 50%; /* Biến nút thành hình tròn */
  }

  /* Điều chỉnh kích thước icon */
  .btn-change-avatar i {
    font-size: 20px; /* Kích thước của icon máy ảnh */
    margin: 0; /* Loại bỏ khoảng cách xung quanh icon */
  }

  /* Đảm bảo rằng các biểu tượng con mắt không bị chồng lên và có thể nhấn được */
  .form-group {
    position: relative; /* Để các phần tử con như icon có thể định vị tương đối */
  }

  i.fas.fa-eye {
    position: absolute; /* Đặt biểu tượng con mắt vào vị trí tuyệt đối */
    right: 10px; /* Khoảng cách từ bên phải */
    top: 50%; /* Đặt ở giữa theo chiều dọc */
    transform: translateY(-50%); /* Căn giữa con mắt theo chiều dọc */
    cursor: pointer; /* Đảm bảo con mắt có thể nhấn được */
    z-index: 10; /* Đặt z-index để biểu tượng con mắt nằm trên các phần tử khác */
  }
</style>
<script>
  function previewAvatar(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function (e) {
      const avatarImg = document.getElementById("avatarImage");
      avatarImg.src = e.target.result; // Thay đổi src của ảnh avatar
    };

    if (file) {
      reader.readAsDataURL(file); // Đọc ảnh đã chọn
    }
  }

  // Hàm kiểm tra mật khẩu khớp
  function checkPasswordsMatch() {
    const newPassword = document.getElementById("newPassword").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const newPasswordStatus = document.getElementById("newPasswordStatus");
    const confirmPasswordStatus = document.getElementById(
      "confirmPasswordStatus"
    );

    if (newPassword.length === 0 && confirmPassword.length === 0) {
      newPasswordStatus.style.display = "none";
      confirmPasswordStatus.style.display = "none";
    }
    // Kiểm tra sự khớp giữa mật khẩu mới và xác nhận mật khẩu
    else if (newPassword === confirmPassword) {
      newPasswordStatus.style.display = "inline"; // Hiển thị dấu tích cho mật khẩu mới
      confirmPasswordStatus.style.display = "inline"; // Hiển thị dấu tích cho mật khẩu xác nhận
    } else {
      newPasswordStatus.style.display = "none"; // Ẩn dấu tích nếu không khớp
      confirmPasswordStatus.style.display = "none"; // Ẩn dấu tích nếu không khớp
    }
  }

  // Thêm sự kiện input để kiểm tra khi người dùng gõ
  document
    .getElementById("newPassword")
    .addEventListener("input", checkPasswordsMatch);
  document
    .getElementById("confirmPassword")
    .addEventListener("input", checkPasswordsMatch);

  // Hàm ẩn/hiện mật khẩu khi người dùng nhấn vào biểu tượng con mắt
  function togglePasswordVisibility(inputId, iconId) {
    const passwordInput = document.getElementById(inputId);
    const passwordIcon = document.getElementById(iconId);

    // Kiểm tra nếu mật khẩu đang được ẩn, thì hiển thị và thay đổi icon
    if (passwordInput.type === "password") {
      passwordInput.type = "text"; // Hiển thị mật khẩu
      passwordIcon.classList.remove("fa-eye");
      passwordIcon.classList.add("fa-eye-slash"); // Thay đổi icon thành icon ẩn mật khẩu
    } else {
      passwordInput.type = "password"; // Ẩn mật khẩu
      passwordIcon.classList.remove("fa-eye-slash");
      passwordIcon.classList.add("fa-eye"); // Thay đổi icon thành icon hiển thị mật khẩu
    }
  }
</script>
